html, body, header, nav, ul, li, main, footer, p {
  margin: 0;
  padding: 0;
}

body {
  font-family: tahoma;
  width: 100vw;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: black;
}

header {
  display: flex;
  justify-content: center;
  height: 30vh;
  width: 100%;
}

nav, footer {
  background-color: #eee;
  height: 10vh;
  width: 100%;
}

footer {
  display: flex;
  justify-content: space-between;
}

footer img {
  width: 30vh;
  height: auto;
}

footer p {
  height: 100%;
  line-height: 10vh;
  text-align: center;
  overflow: hidden;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
}

nav li {
  transition: 0.5s;
  cursor: pointer;
  line-height: 10vh;
  height: 100%;
  list-style: none;
  display: inline-block;
  width: 10%;
  text-align: center;
}

nav li a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

nav li:hover {
  transform: scale(1.2);
  background-color: #aaa;
}

.logo-img {
  height: 100%;
  width: auto;
}

@media only screen and (max-width: 600px) {
  .logo-img {
    width: 100%;
    height: auto;
  }
}

main {
  padding: 10vh 3vw;
  display: grid;
  grid-template-columns: 40% 40%;
  grid-gap: 5vw;
  justify-content: center;
}

@keyframes paragraph-popup {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes paragraph-hide {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.item {
  height: max(30vh, 30vw);
  background-color: #fff;
  box-shadow: 0 0 max(2vw, 2vh) #555;
  overflow: hidden;
  position: relative;
}

.item img {
  width: 100%;
  height: 100%;
}

.item p {
  position: absolute;
  left: 0; 
  right: 0;
  top: 100%;
  height: 50%;
  background-color: rgba(255,255,255,0.9);
  transform: translateY(0);
}

.item:hover {
  cursor: pointer;
}

.item-desc {
  text-align: center;
  line-height: 18vw;
  font-size: max(3vw, 3vh);
}

.outer {
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: max(400px, 80vw);
  height: 80%;
  background-color: rgba(255,255,255,1);
  border: 5px solid rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.top-block {
  display: flex;
  background-color: rgba(238, 238, 238, 1);
  height: 20%;
}

.top-block div {
  font-size: 1.5em;
  cursor: pointer;
  position: relative;
  height: 100%;
  border-bottom: 5px solid rgba(0, 0, 0, 0.9);
  box-sizing: border-box;
  width: 50%;
  line-height: 100%;
}

.top-block .vhod {
  border-right: 2.5px solid rgba(0, 0, 0, 0.9);
}

.top-block .reg {
  border-left: 2.5px solid rgba(0, 0, 0, 0.9);
}

.top-block div span {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.bottom-block {
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80%;
  align-items: center;
}

.close-button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 50px;
  height: 50px;
  background-color:rgba(0, 0, 0, 0.9);
  color: #fff;
  border-radius: 50%;
  text-align: center;
  right: 0;
  top: 0;
  transform: translate(50%, -50%);
}

input:focus {
  outline: none;
}

input {
  width: 40%;
  border-radius: 0%;
  border: 3px solid #eee;
  padding: 10px;
}

.submit-button {
  width: 40%;
  height: 40px;
  cursor: pointer;
  background-color: transparent;
  border: 3px solid #eee;
  transition: 1s;
}

.submit-button:hover {
  background-color: #eee
}

.active-tab {
  border-bottom: none !important;
  background-color: #fff;
}

.block-background {
  position: absolute;
  left: 0; top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}